<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Rusty</title>
    <meta name="description" content="A todo application written in Rocket.">
    <meta name="author" content="Sergio Benitez">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/skeleton.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" type="image/png" href="/images/favicon.png">
</head>
<body>
<div class="container">
    <p><!--Nothing to see here --></p>

    <div class="row">
        <h4>Sentiment Scores</h4>
    </div>
    <div>
        Positive Score: {{ sentiment_pos }}
    </div>
    <div>
        Neutral Score: {{ sentiment_neu }}
    </div>
    <div>
        Mixed Score: {{ sentiment_mix }}
    </div>
    <div>
        Negative Score: {{ sentiment_neg }}
    </div>
    <pre style="padding-top: 10%">
        {{ body }}
    </pre>
</div>
</body>
</html>
